In [ ]:
import pandas as pd
df=pd.read_csv("D:\\DATA SCIENCE\\weight-height.csv")
df.head()
df.shape

(10000, 3)

In [ ]:
out_99percentile=df.Height.quantile(0.99)
out_05percentile=df.Height.quantile(0.05)
print(out_99percentile)
print(out_05percentile)

74.7857900583366
60.24622082610544

In [ ]:
df[(df.Height<out_99percentile) & (df.Height>out_05percentile)] # to find the valid values

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[9400 rows x 3 columns]

In [ ]:
df[(df.Height>out_99percentile) | (df.Height<out_05percentile)]  # to find the outliers

      Gender     Height      Weight
23      Male  75.205974  228.761781
190     Male  76.709835  235.035419
197     Male  75.944460  231.924749
202     Male  75.140821  224.124271
215     Male  74.795375  232.635403
...      ...        ...         ...
9978  Female  57.375759  114.192209
9984  Female  59.047029  111.707369
9988  Female  59.538729  121.244876
9993  Female  60.030434   97.687432
9994  Female  59.098250  110.529686

[600 rows x 3 columns]

In [ ]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699